*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 
  background: #555; 
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
 
  background-color: #f0f5f8;

}
.small{
  font-size: 13px;
}
.intestation-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding: 0px 40px 0px 40px;
  height: 350px;
  background-color: #74bcec;
}
.intestation-home h2{
  font-size: 50px;
}
.intestation-home h4{
  font-size: 25px;
  margin-bottom: 25px;
}
.input-name-home:focus{
  
  outline: none;

}
.input-name-home{
  padding: 10px 0px 10px 25px;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 18px;
}
.input-container{
  position: relative;
  margin-top: 20px;
  
}

.categories-films-container{
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  
  
}
.categories-films-container h4{
  margin-right: 40px;
}
.popular-card{
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: black;
}
.popular-card:first-child {
  margin-left: 0 !important;
}
.name-popular-card:hover{
  color:#3892ce;
}
.img-container{
  position: relative;
}
.percentual{
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
  background-color: rgba(211, 211, 211, 0.712);
  color: black;
}

.percentual-green{
  border: 4px solid rgb(0, 129, 0);
}
.percentual-yellow{
  border: 4px solid rgb(189, 189, 0);
}
.no-percentual{
  border: 4px solid lightgrey;
}
.percentual-red{
  border: 4px solid red;
}
.popular-card img{
  width: 150px;
  height: 250px;
  
  border-radius: 15px;
}
.categories-film{
  padding: 25px 0px 25px 0px;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 25px;

}
.opacityChange{
  animation: opacityChange 2s normal ;
}

@keyframes opacityChange {
  from {opacity: 0;}
  to {opacity: 1;}
}
.categoria{
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-weight: bold;
  
}
.categories{
  z-index: 1;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;

  display: flex;
}

.button-name-home{
  position: absolute;
  right: 0;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: #3892ce;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.button-name-home:hover{
  background-color: #b2d9f3;
}

.home{
  text-align: left;

  width: 75%;
  margin: auto;
 
  
}
.films{
  position: relative;
  
}
.details-films-tv{
  display: flex;
  width: 70%;
  margin: auto;
}
.details-container{
  width: 20%;
  margin-top: 20px;
}
.detail{
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  overflow: hidden;

}
.films-series{
  margin-top: 10px;
}

.films-series > .link-film {
  cursor: pointer;
  
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.no-click {
  pointer-events: none;
}
.search-result{
  padding: 18px;
  font-size: 20px;
  background-color: #3892ce;
  color: white;
}
.detail h2{
 
  color: white;
  background-color: #3892ce;
}
.intestation{
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 20px 80px;
  border-radius: 20px;
  
}
.customHeigth{
  
  height: calc(100vh - 100px);
}

.loader-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.loader {
  border: 16px solid #c4bdbd;
  border-radius: 50%;
  border-top: 16px solid #3892ce;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header{
  height: 80px;
  background-color: #1870aa;
}

.logo-container{
  height: 100%;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.terms{
  width: 75%;
  /* background-color: green; */
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: whitesmoke;
}
.img-terms{
  width: 150px;
  margin-left: 50px;
}
.logo-link{
  height: 100%;
  
  display: flex;
  align-items: center;
  text-decoration:none;
  width: 22%;
  padding: 5px 50px;
  transition: 0.2s;
  background-color: #3892ce;
}
.logo-link:hover{
  
  background-color: #74bcec;
}
.logo-link div{
  display: inline-block;
  margin-left: 20px;
  font-size: 20px;
  color: white;
}
.logo{

  height: 100%;

}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1870aa;
}
.search-films{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
 
  box-shadow: 50px 5px 25px rgb(0 0 0 / 10%);
  margin-bottom: 20px;
 
  
}
.input-container-films{
  width: 65%;
  height: 50px;
  margin: auto;
  display: flex;
  
}
.search-films  input{
  width: 100%;
  font-size: 20px;

  border:none;

}
.search-films  input:focus{
  outline: none;
}

.films-cards-container{
  position: relative;
  border-radius: 10px;
  width: 90%;
  margin: 0px auto 50px auto;
  height: 100%; 
}
.card{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  color: black !important;
  
}
.card  h3{
  display: flex;
  align-items: center;
  height: 50px;
}
.link-to-detail-film{
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  margin: 20px;
  text-decoration: none;
  border-radius: 20px;
  color: white;
}
.active-detail{
  background-color: rgb(209, 207, 207);
}
.qty{
  padding: 2px;
  border-radius: 5px;
  background-color: white !important;
  border: 1px solid black;
}
.img-film{
  height: 150px;
  width: 100px;
  
}
.img-film > img{
  width: 100%;
  height: 100%;
  
}
.details-card{
  width: 100%;
  padding:10px;
 
}
.error-img{
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}
.error-img >h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding:10px 0px 10px 0px;
  color: rgb(255, 0, 0);
  background-color: rgba(0,0,0,0.5);
  transform:translate(-50%,-50%);
}
.card .error-img > img{
  width: 100%;
  height: 100%;
  
}
.visibility-hidden{
  visibility: hidden;
}
.change-page{
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 50px;
}
.number-pages{
  display: flex;

}
.active{
  border-radius: 20px;
  transition: 0.5s;
  color:  lightgreen ;
  
}
.active-button{
  color: rgb(255, 254, 254) !important;
  background-color: #1870aa !important;
}
.number-pages > .link-bottom{
  text-decoration: none;
  display: flex;
  height: 35px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
  width: 20px;
  font-weight: bold; 
  padding: 12px 17px; 
  color: rgb(255, 255, 255);
  background-color: black;

}

.last-link-bottom,.first-link-bottom{
  margin: 0px 20px;
  text-decoration: none;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 253, 253);
  width: 50px;
  background-color: black;
  border-radius: 5px;
  font-weight: bold; 
  padding: 12px 17px; 
}
.justify-space-around{
  justify-content: space-around;
}

.justify-content-start{
  justify-content: flex-start;
}
.justify-content-end{
  justify-content: flex-end;
}
.button-pages{
  padding: 10px 40px;
  border: none;
  background-color: rgba(0,0,0,0.2);
  border: 5px solid rgba(0,0,0,0.5);
  border-radius: 5px;
  cursor: pointer;

}

.film-info{
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color: rgba(0,0,0,0.2);
  
  
}


.cerca{
  margin-left: 5px;
  font-size: 24px;
  text-decoration: none;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  left: 15%;
  top: 0;
  color: lightgrey;
}
.x{
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 17%;
  cursor: pointer;
  color: lightgrey;
}
.detail-film{
 width: 100%;
 height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.detail-film-container{

  height: calc(100vh - 180px);
  
}
.genres-film{
  display: inline-block;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #3892ce;
}
.loader-detail-film{

  height: 100%;
 
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);

}
.overlay2{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}
.film-text{
  padding: 50px;
  width: 70vw;
  margin: auto;
}

.film-text > .title{
  font-size: 55px;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}
.film-text > .score{
  margin: 10px 10px 0px 0px;
  padding: 20px 20px 20px 0px;
}
.film-text .score span{
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: green;
}

.film-text > .overview{
  font-size: 23px;
  margin-top: 50px;
  
}
.button-back{
  position: relative;
  background-size: cover;
  background-position: center;

  display: block;
  padding: 20px;
  margin: auto;
  width: 200px;
  height: 100px;
  border: 5px solid black;
  font-size: 15px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.8);
}
.arrow-back{
  color: white;

  font-size: 50px;
  
}

.overlay-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);

}

.error-screen{
  display: flex;
  margin-top: 80px;
  height:calc(100vh - 180px);
  background-color: #66b9f0;;
}


@media (max-width: 768px) {
  /* .logo-link{
    display: none;
  } */
  .button-pages{
    display: none;
  }
 }